 body {
    font-size: 16px;
    font-family: Times New Roman;
    margin-inline: auto;
    width: min(90%,70.5erm);
}
.orange {
   color:#CC6666;
    font-weight: normal;
    text-align: left;
}

.topnav {
  overflow: hidden;
  background-color: white;
   margin-inline: auto;
   width: min(90%,70.5erm);
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-inline: auto;
  width: min(90%,70.5erm);
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
   margin-inline: auto;
   width: min(90%,70.5erm);
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
   margin-inline: auto;
   width: min(90%,70.5erm);
}

.topnav .icon {
  display: none;
   margin-inline: auto;
   width: min(90%,70.5erm);
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    margin-inline: auto;
    width: min(90%,70.5erm);
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-inline: auto;
    width: min(90%,70.5erm);
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-inline: auto;
    width: min(90%,70.5erm);
  }
}
.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;  
    margin-inline: auto;
    width: min(90%,70.5erm);
}
@media (max-width: 600px) {
    .container {
        padding-right: 0px;
        padding-left: 0px;
         margin-inline: auto;
    width: min(90%,70.5erm);
    }
}

  .top_nav{
    display: grid;
    padding: 20px;
     margin-inline: auto;
    width: min(90%,70.5erm);
}



.enterprise{
    background-image: url(pic1.jpeg);
    background-repeat: no-repeat;
	background-size:cover;
    background-position: center;
    min-height: 500px;
    position: relative; 
     margin-inline: auto;
    width: min(90%,70.5erm);   
}
@media (max-width: 600px) {
    .enterprise {     
        min-height: 300px;   
         margin-inline: auto;
    width: min(90%,70.5erm);      
    }
}
.data_em {
     text-align: center;   
    margin: 10;
    position: absolute;
    top: 50%;
     margin-inline: auto;
    width: min(90%,70.5erm);
   
}  
@media (max-width: 600px) {
    .data_em {     
        width: 50px; 
     margin-inline: auto;
    width: min(90%,70.5erm);      
    }
}  
.my_search{
    background-color: #CC6666;
    color: white;
    font-weight: bold;
    height: 44px;
    font-size: 14px;
    padding: 0 10px;
    margin-right: -9px;
    width: auto;
    border-radius: 5px;
     margin-inline: auto;
    width: min(90%,70.5erm);
}
.first_title {
    color: white;
    font-size: 30px;
    font-weight: normal;
    font-family: Arial;
     margin-inline: auto;
    width: min(90%,70.5erm);
}
@media (max-width: 600px) {
    .first_title {
        font-size: 30px;   
     margin-inline: auto;
    width: min(90%,70.5erm);    
    }
}

.services{ background-image: url(pic5.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    min-height: 500px;
    position: relative;    

 margin-inline: auto;
    width: min(90%,70.5erm);
}

@media (max-width: 600px) {
    .services {     
        min-height: 300px;   
     margin-inline: auto;
    width: min(90%,70.5erm);      
    }

}
.responsivedesign{ background-image: url(pic6.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    min-height: 500px;
    position: relative;    
 margin-inline: auto;
    width: min(90%,70.5erm);
}

@media (max-width: 600px) {
    .responsivedesign {     
        min-height: 300px;   
     margin-inline: auto;
    width: min(90%,70.5erm);      
    }

}
.founder{ background-image: url(pic7.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    min-height: 500px;
    position: relative;    
 margin-inline: auto;
    width: min(90%,70.5erm);
}

@media (max-width: 600px) {
    .founder {     
        min-height: 300px;  
     margin-inline: auto;
    width: min(90%,70.5erm);       
    }

}
.features{ background-image: url(pic8.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    min-height: 500px;
    position: relative;   
    padding-top: 20px; 
    padding-bottom: 20px;
 margin-inline: auto;
    width: min(90%,70.5erm);
}

@media (max-width: 600px) {
    .features {     
        min-height: 300px; 

     margin-inline: auto;
    width: min(90%,70.5erm);        
    }

}

.foot_search{
    background-color: #CC6666;
    color: white;
    font-weight: bold;
 margin-inline: auto;
    width: min(90%,70.5erm);
   
}
.dig_savvy{
    background-image: url(pic4.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    min-height: 300px;
    position: relative;  
 margin-inline: auto;
    width: min(90%,70.5erm);  
}
@media (max-width: 600px) {
    .dig_savvy {     
        min-height: 300px;     
     margin-inline: auto;
    width: min(90%,70.5erm);    
    }
}



.dig_data {
    background-color: white;
    position: absolute;
    width: 60%;
    text-align: center;
    height: 100%;
    align-items: center;   
    display: grid;

 margin-inline: auto;
    width: min(90%,70.5erm);
}


.dig_title {
    font-size: 30px; 
    font-weight: normal;
    color: black;
     margin-inline: auto;
    width: min(90%,70.5erm);
	
}
@media (max-width: 600px) {
    .dig_title {
        font-size: 20px;   
        padding-left: 30px;  
         margin-inline: auto;
    width: min(90%,70.5erm); 
    }
}
.dig_secondtitle {
    font-weight: normal;
    color: black;
 margin-inline: auto;
    width: min(90%,70.5erm);
    
}
.services{
    background-color:white;
 margin-inline: auto;
    width: min(90%,70.5erm);
}
.text_center {
    text-align: center;
    padding-right: 20px;
    padding-left: 50px;
 margin-inline: auto;
    width: min(90%,70.5erm);
  
}


.newsletter{
    background:#383b39;
    background-position: center;
	position: relative;  
    min-height: 400px;
 margin-inline: auto;
    width: min(90%,70.5erm);
   } 


.form_control{    
	background-color: #616662;
    color: white;
	font-weight: bold;
    height: 44px;
    font-size: 14px;
	/*padding: 0 10px;*/
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 40px;
    width: auto;
    border-radius: 5px;
 margin-inline: auto;
    width: min(90%,70.5erm);
   
}
@media (max-width: 600px) {
    .form_control {   
        width: 300px;
     margin-inline: auto;
    width: min(90%,70.5erm);
    }
}

/* new styles */

.details-view {
  padding: 20px 100px;

   margin-inline: auto;
    width: min(90%,70.5erm);
}

.details-view .row {
  height: 410px;
  display: flex;
  justify-content: center;

   margin-inline: auto;
    width: min(90%,70.5erm);
}
@media (max-width: 600px) {
    .details-view .row{   
        width: 300px;
        flex-direction: column;
         margin-inline: auto;
    width: min(90%,70.5erm);
    }
}
.details-view .row .column {
  min-width: 280px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
   margin-inline: auto;
    width: min(90%,70.5erm);
}

.footer{
    padding-top: 30px;
     margin-inline: auto;
    width: min(90%,70.5erm);
}
@media (max-width: 600px) {
    .footer{   
        width: 300px;
         margin-inline: auto;
    width: min(90%,70.5erm);
    }
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
   margin-inline: auto;
    width: min(90%,70.5erm);
}

.fa:hover {
    opacity: 0.7;
     margin-inline: auto;
    width: min(90%,70.5erm);
}

.fa-facebook {
  background: white;
  color: #6c706d;
   margin-inline: auto;
    width: min(90%,70.5erm);
}

.fa-twitter {
  background: white;
  color: #6c706d;
   margin-inline: auto;
    width: min(90%,70.5erm);
}

.fa-google {
  background: white;
  color: #6c706d;
   margin-inline: auto;
    width: min(90%,70.5erm);
}




